<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">باغ فردوس</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">صفحه اصلی<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            معرفی باغ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">تاریخچه</a>
            <a class="dropdown-item" href="#">بخش های باغ</a>
            <a class="dropdown-item" href="#">مسیر بازدید</a>
            <a class="dropdown-item" href="#">برنامه و قوانین باغ</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">گالری</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">خاطرات بازدید</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">آموزش و پژوهش</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">تماس با ما</a>
        </li>
    </ul>
</div>
  </nav>
